h1 {
  color: #7393B3;
  background-color: #eeaf6a;
  font-size: 50px;
  text-align: center;
}

h2 {
  color: #CD7F32;
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
}

ul {
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
  padding-left: 50px;
}

ol {
  .list-container
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  padding-left: 50px;
}

img {
  padding-left: 45%;

}

.list-container {
  padding-left: 45%;
}